<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" th:href="@{/images/favicon.ico}" />

    <title>Student registration</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
	
	<!-- custom CSS -->
    <link rel="stylesheet" th:href="@{/css/custom.css}" />
  </head>

  <body>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">School System</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
           <li><a href="/">Home</a></li>
            <li><a href="about">About</a></li>
            <li><a href="contact">Contact</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Register<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="Teacher">Teacher</a></li>
                <li><a href="Student">Student</a></li>
                <li><a href="#">Cashier</a></li>
                <li role="separator" class="divider"></li>
                <li class="dropdown-header">Parents</li>
                <li><a href="#">registration request</a></li>
                <li><a href="#">Report</a></li>
              </ul>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li  class="active"><a href="Student">Student</a></li>
            <li><a href="Staff">Staff</a></li>
            <li><a href="/login">Login</a></li> 	
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    <div class="container">

      <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
	      <form th:object="${student}" onsubmit="return validateForm()" method="POST" th:action="@{/Student/register}" name="myForm" enctype="utf8">	      
		 	<div class="row-sm">
		 		<div class="col-sm-5">
		 		<h4>| step 2 of 2 |</h4>
		 			<fieldset>
		 				<legend>Student Account form</legend>
			 			<label>User Name*</label>
				        <input type="text" th:field="*{username}" /><br>
				        <span style="color:red; font-size:12px;" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">userName Error</span>
				        <p th:text="${idExist}" style="color:red; font-size:12px;"></p>
				        <label>Password*</label>
				        <input type="password" th:field="*{password}"/><br>
				        <span style="color:red; font-size:12px;" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">pass Error</span>
				        <p></p>
				        <label>Confirm Password*</label>
				        <input type="password" name="cpass" value=""/><br>
				        <p style="color:red; font-size:12px;" id="confId"></p>
				    	<button type="submit" class="btn btn-primary btn-md">submit</button>
		 			</fieldset>
		    	</div>			    	
		    </div>	    			
		 </form>
      </div>
    </div> <!-- /container -->
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script th:src="@{/js/jquery.min.js}"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script type="text/javascript">
	    function validateForm() {
	    	  var pass = document.forms["myForm"]["password"].value;
	    	  var cpass = document.forms["myForm"]["cpass"].value;
	    	  var err = document.getElementById("confId");
	    	  if (pass != cpass) {
	    	    err.innerHTML = "confirm password does not much!";
	    	    return false;
	    	  }
	    	  err.innerHTML = "";
	    	}
    </script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
  </body>
</html>
