<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" th:href="@{/images/favicon.ico}" />

    <title>School Management system</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
	
	<!-- custom CSS -->
    <link rel="stylesheet" th:href="@{/css/custom.css}" />
  </head>

  <body>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">School System</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="about">About</a></li>
            <li><a href="contact">Contact</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
          <li><a href="/Student/profile">Back</a></li>
            <li><a href="/logout">LogOut</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    <div class="container">

      <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
        <div class="row-lg">
        	<div class="col-sm-7">
        		<b>ID: </b><span th:text="${student.id}"> </span> <br>
					<b>Name: </b><span th:text="${student.name}"> </span> <br>
                <fieldset><legend><label>Grade Report</label></legend></fieldset> 
        			<table>
        			<tr><th th:text="${gradRep[0].subject.name}"> </th></tr>
        			<tr>
	                    <td>Mid: <span th:text="${gradRep[0].mid}"> </span></td> 
						<td>final: <span th:text="${gradRep[0].final_exam}"></span></td> 
						<td>Total: <span th:text="${gradRep[0].total}"></span> </td>
                     </tr>
                     </table>         	    
        	</div> 
        </div>                
       
     </div>
	 	
    </div> <!-- /container -->
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script th:href="@{/js/jquery.min.js}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script th:src="@{js/bootstrap.min.js}"></script>
  </body>
</html>
