<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" th:href="@{/images/favicon.ico}" />

    <title>School Management system</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
    
    <!-- custom CSS -->
    <link rel="stylesheet" th:href="@{/css/custom.css}" />
  
   <!-- some custom styles -->
    <style type="text/css">.col-sm-5 p{font-size: 12px;color: red;}</style>
    
  </head>

  <body>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" 
          	data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">School System</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="about">About</a></li>
            <li><a href="contact">Contact</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
          	<li class="active"><a href="/studentList" >Students List</a></li>
          	<li><a href="/PostGrade">Post Grade</a></li>
            <li><a href="/logout">LogOut</a></li> 	
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>    
    <div class="container">
		<div class="jumbotron">
		<h4>Mr. <span th:text="${teacher.name}"></span>
				<span th:text="${teacher.lastname}"></span>
		</h4>
	    	<table th:each="student : ${studentList}">
	    	<tr>
	    		<th>
	    		student list
	    		</th>
	    		<th></th><th></th>
	    		<th>
	    		   <span th:each="grade : ${grades}">
					<span th:text="${grade.name}">
					</span> - <span th:text="${grade.section}"> </span>,
				   </span>
				</th>				
			</tr>
	    	<tr>
	    		<td>ID</td>
	    		<td>Name</td>
	    		<td>Sex</td>
	    		<td>Grade</td>
	    	</tr>
	    	<tr th:each="profile : ${student}">
	    		<td th:text="${profile.id}"></td>
	    		<td th:text="${profile.name}">Abebe</td>
	    		<td th:text="${profile.sex}">Male</td>
	    		<td><span th:text="${profile.grade}"></span> - <span th:text="${profile.section}"></span></td>
	    	</tr>	
	    	</table>			
    </div> <!-- /jumbotron -->
    </div><!-- /container -->
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script th:src="@{/js/jquery.min.js}"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
  </body>
</html>
